:root{

    --surface1: #f4f4f4;
    --surface2:  #8D680C;
    --surface3: #473406 ;
    --surface4: #edd290 ;
}



body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
/* topbar start */
.bg-colors{
    background-color: var(--surface1);
}
.tb-max-width{
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 60px;
}
.top-bar{
    padding: 0px 24px 0px 20px;
}
.tb-flex-left{
    width: 50%;
    display: flex;
    align-items: center;
}
.tb-left{
    display: flex;
}
.tb-adresse{
    display: flex;
}
.tb-time{
    display: flex;
    align-items: center;
}
.icon{
    width: 38px;
    height: 38px;
    margin: 5px;
}
.tb-text{
    font-size: 13px;
    margin: 0px;
    color: var(--surface2);
    display: flex;
    align-items: center;
}
.tb-flex-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.tb-number{
    display: flex;
}
.tb-right{
    display: flex;
}
.number{
    margin-right:25px ;
}
.facebook-icon{
    border-radius: 10px;
}
.facebook-icon:hover{
    box-shadow:0px 0px 10px var(--surface3);
}
.instagram-icon{
    border-radius: 10px;
}
.instagram-icon:hover{
    box-shadow:0px 0px 10px var(--surface3);
}
/* topbar end */
/* header and first part start */
.bg-img{
    background-image: url(../images/salon/tisir-vert-or.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}
.sec-header{
    color: #fff;
    padding: 20px 24px 0px 20px;
    height: calc(100vh - 80px);

}
.header-flex{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.nom-site{
    margin: 0px;
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-size: 25px;
    
}
.table{
    display: flex;
    align-items: center;
}
.table ul{
    display: flex;
    gap: 15px;
    margin: 0px;
}
.table li{
    list-style-type: none;
}
.table a{
    color: #fff;
    text-decoration: none;
    
}
.table a:hover{
    color: var(--surface4);
}
.navigation{
    display: flex;
}

.profil-name-flex{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    gap: 2rem;
}
.name-profil{
    font-weight: 700;
    font-size: 50px;
    margin: 0%;
}
.strong-or{
    color: rgb(231, 250, 23);
    font-weight: 410;

}
.profil-decouvre{
    font-weight: 500;
    font-size: 20px;
    width: 50%;
    margin: 0%;
}

.sous-titre{
    font-weight: 350;
    font-size: 15px;
    margin: 0%;
}
/* header and first part end */

.paragraphe-entrez{
    display: flex;
    justify-content: center;
}
.paragraphe-entrez-h1{
    max-width: 1280px;
    text-align: center;
    font-weight: 250;
}
/* second part qualiter start */
.qualiter{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.artisanal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part-01,
.part-02,
.part-03,
.part-04 {
    display: inline-block;
    margin: calc(25% -25px);
    padding: 0px 24px 0px 20px;
}
.icon-arti-box{
    width: 60px;
    height: 60px;
    background-color: var(--surface1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 7px;
}
.icon-arti{
    width: 40px;
    height: 39px;
}
.icon-chiffre-arti{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chiffre-arti p{
    font-size: 75px;
    color: rgb(198, 198, 198);
    font-weight: 600;
    margin: 0px;
}
.text-arti{
    display: flex;
    font-weight: 550;
    text-align: center;
    justify-content: center;
    
}
.about-us {
    max-width: 1280px;
    display: flex;
    margin: 100px auto 50px auto;
    background-color: var(--surface1);
}



.salon-clients-size {
    width: 50%;
}

.text-a-propos {
    
    height: auto; 
    padding: 0px 24px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mon-bouton {
    background-color: var(--surface2); 
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-bottom: 15px;
}

.mon-bouton:hover {
    background-color: #473406; 
}
.mon-bouton a{
    text-decoration: none;
    color: #fff;
    
}
.rubrique{
    display: flex;
    justify-content: center;
}
.rubrique h1{
    font-size: 35px;
}
.nos-services{
    max-width: 1280px;
    margin: auto auto 100px auto;
    padding: 0px 24px 0px 20px;
}
.line-services{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}
.carte {
    max-width: 330px;
    height: 430px;
    background: #f1f1f1;
    display: grid;
    grid-template-rows: 200px 50px 100px 50px;
    border-radius: 5px;
    margin-bottom:30px ;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.divImg {
    /* debut rangée / debut col / fin rang / fin col */
    background: url(../images/salon/service-salon-300x180.jpg);
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(90%);
    
}
.divImgLit {
    /* debut rangée / debut col / fin rang / fin col */
    
    background: url(../images/lit/panneau-pour-chambre-caractéristiques-différentes-options-rembourrage.jpg);
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(90%);
    
}
.divImgLustre {
    /* debut rangée / debut col / fin rang / fin col */
    
    background: url(../images/lustre/lustre-services.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(90%);
    
}
.divImgHousse {
    /* debut rangée / debut col / fin rang / fin col */
    
    background: url(../images/salon/service-housse-300x180.jpg);
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(90%);
    
}
.divImgTapie {
    /* debut rangée / debut col / fin rang / fin col */
    
    background: url(../images/tapie/service-tapie-300x180.jpg);
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(90%);
    
}
.divImgDeco {
    /* debut rangée / debut col / fin rang / fin col */
 
    background: url(../images/deco/service-deco-300x180.jpg);
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(90%);
    
}

.titre {
    display: flex;
    align-self: center;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.icone {
    width: 24px;
    margin-right: 10px;
}
span {
    font-weight: 600;
}
.info {

    padding: 5px 25px;
    font-size: 14px;
}
.btnSection {

    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSection a {
    display: block;
    width: 200px;
    height: 30px;
    background: var(--surface2);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e2e2;
    border-radius: 5px;
}
.btnSection a:hover {
    background: var(--surface3);
}
.text-why {
    
    height: auto; 
    padding: 0px 24px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mon-bouton-why {
    background-color: var(--surface2); 
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-bottom: 15px;
}

.mon-bouton-why:hover {
    background-color: #473406; 
}
.mon-bouton-why a{
    text-decoration: none;
    color: #fff;
    
}
.rubrique{
    display: flex;
    justify-content: center;
}
.rubrique h1{
    font-size: 35px;
}
.h2-services-info{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.nos-equipe{
    max-width: 1280px;
    margin: auto auto 100px auto;
    padding: 0px 24px 0px 20px;
}
.part-1-equipe{
    display: flex;
    flex-direction: column;
    max-width: 1280px;  
    margin: auto;
}
.part-1-services{
    margin: 0px;
}

.why {
    max-width: 1280px;
    display: flex;
    margin: auto auto 50px auto;
    background-color: var(--surface1);
}

.salon-clients-size {
    width: 100%;
}
.arrow-up{
    background-color: var(--surface2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 40px;
}
footer{
    background: #5d5858;
    padding-top: 24px;
    padding-bottom: 20px;
}
.footer{
    max-width: 1280px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.deuxieme-part-footer-max-width{
    max-width: 1280px;
    margin: auto;
}
.deuxieme-part-footer{
    display: flex;
    justify-content: space-between;
    color: #fff;
    
}
.facebook-icon-withe{
    border-radius: 10px;
}
.facebook-icon-withe:hover{
    box-shadow:0px 0px 10px white;
}
.instagram-icon-withe{
    border-radius: 10px;
}
.instagram-icon-withe:hover{
    box-shadow:0px 0px 10px white;
}
.ft-adresse{
    display: flex;
    align-items: center;
}
.ft-number{
    display: flex;
    align-items: center;
}
.img-map-cart{
    height: 300px;
    border-radius: 7px;
}
.tb-time-column{
    display: flex;
    flex-direction: column;
}
.reseau-box{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.reseau{
    color: #fff;
}
.bg-img-small{
    background-image: url(../images/salon/tisir-red-or.webp);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 500px;
    background-position: center;
} 
.bg-img-small-services{
    background-image: url(../images/salon/salon-services-header-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 500px;
    background-position: center;
} 
.profil-name-flex-left{
    height: calc(100vh - 108px);
    display: flex;
    flex-direction: column;
    max-width: 1280px; 
    margin: auto; 
    margin-top: 150px;
    margin-bottom: 60px;
}
.profil-name{
    font-size: 70px;
    margin: 0%;
}
.welcome{
    font-weight: 500;
    font-size: 40px;
    margin: 0px;
}
.sec-max-width{
    max-width: 1280px;
    margin: auto;
    margin-top: 150px;
}
.line-contact{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 200px;
}
.icon-contact{
    width: 38px;
    height: 38px;
    margin: 5px;
}
.line-contact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    
}
.line-contact-box p{
    text-align: center;
}
.line-canaper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-canaper{
    border-radius: 7px;
    height: 300px;
    width: 500px;
    margin: 10px;
}
.img-canaper:hover{
    box-shadow: 0px 0px 5px black;
    height: 310px;
    width: 510px;
    transition: 0.5s;
    
}

.line-lit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-lit{
    border-radius: 7px;
    height: 390px;
    width: 290px;
    margin: 10px;
}
.img-lit:hover{
    box-shadow: 0px 0px 5px black;
    height: 400px;
    width: 300px;
    transition: 0.5s;
    
}
.line-lustre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-lustre{
    border-radius: 7px;
    height: 240px;
    width: 290px;
    margin: 10px;
}
.img-lustre:hover{
    box-shadow: 0px 0px 5px black;
    height: 250px;
    width: 300px;
    transition: 0.5s;
    
}
 /*************************************************************/
 /****************   MEDIA QUERIES  ***************************/
 /*************************************************************/




@media screen and (max-width:820px){
    .dp-none{
        display: none;
    }
    .header-flex{
        max-width: 768px;
        justify-content: center;
    }
    .table ul{
        gap: 15px;
        padding: 0px;
    }
    .profil-name-flex{
        height: calc(50vh - 108px);
        max-width: 768px;
    }
    .name-profil{
        font-size: 30px;
    }
    .profil-decouvre{
        font-size: 15px;
    }
    .sous-titre{
        font-size: 10px;
    }
    .qualiter{
        max-width: 768px;
    }
    .artisanal{
        justify-content: center;
        gap: 100px;
    }
    .about-us {
        max-width: 768px;
        flex-direction: column;
    }
    .nos-services{
        max-width: 768px;
    }
    .part-1-services{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    margin: auto;
    max-width: 40%;
    }
    
    .line-services{
        gap:50px ;
        justify-content: center;
    }
    .why {
        max-width: 768px;
        flex-direction: column;
    }
    .nos-equipe{
        max-width: 768px;
    }
    .part-1-equipe{
        max-width: 768px; 
    }
    .footer{
        max-width: 768px;
        flex-direction: column;
        align-items: center;
    }
    .deuxieme-part-footer-max-width{
        max-width: 768px;
    }
    
    .img-map-cart{
        height: 200px;
        border-radius: 7px;
    }
    .profil-name-flex-left{
        height: calc(40vh - 108px);
        margin-top:50px ;
        max-width: 768px; 
    }
    .sec-max-width{
        max-width: 768px;
    }
    .line-canaper{
        justify-content: center;
    }
    .img-canaper{
        height: 250px;
        width: 350px;
    }
    .img-canaper:hover{
        height: 255px;
        width: 355px;
    }
    
}
@media screen and (max-width:490px){
    .dp-none{
        display: none;
    }
    .header-flex{
        max-width: 368px;
        justify-content: center;
    }
    .table ul{
        gap: 13px;
        padding: 0px;
    }
    .table a{
        font-size: 13px;
    }
    .profil-name-flex{
        height: calc(50vh - 108px);
        max-width: 368px;
    }
    .profil-name{
        font-size: 50px;
    }
    .name-profil{
        font-size: 27px;
    }
    .profil-decouvre{
        font-size: 12px;
        width: 100%;
    }
    .dp-none-mobile{
        display: none;
    }
    .sous-titre{
        font-size: 8px;
    }
    .qualiter{
        max-width: 768px;
    }
    .artisanal{
        justify-content: center;
        gap: 100px;
    }
    .about-us {
        max-width: 368px;
        flex-direction: column;
    }
    .nos-services{
        max-width: 368px;
    }
    .part-1-services{
        max-width: 368px;
    }
    
    .line-services{
        gap:50px ;
        justify-content: center;
    }
    .why {
        max-width: 368px;
        flex-direction: column;
    }
    .nos-equipe{
        max-width: 368px;
    }
    .part-1-equipe{
        max-width: 368px; 
    }
    .footer{
        max-width: 368px;
        flex-direction: column;
    }
    .deuxieme-part-footer-max-width{
        max-width: 368px;
        flex-direction: column;
    }
    
    .img-map-cart{
        height: 200px;
        border-radius: 7px;
    }
    .profil-name-flex-left{
        max-width: 368px; 
    }
    .sec-max-width{
        max-width: 368px;
    }
    .line-canaper{
        justify-content: center;
    }
    .img-canaper{
        height: 150px;
        width: 250px;
    }
    .img-canaper:hover{
        height: 155px;
        width: 255px;
    }
    .line-contact{
        display: flex;
        flex-direction: column;
    }
    .line-contact-box{
        width: auto;
    }
    .rubrique h1{
        font-size: 25px;
    }
    .deuxieme-part-footer{
        max-width: 368px;
        font-size: 10px;
    }
    
}

@media screen and (min-width:1200px) {
    .line-services{
        gap:100px;
    }
}




